@using System.Data;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataSet ds = new DataSet("music");

    DataTable dtSongs = new DataTable("number");

    DataColumn dcId = new DataColumn("id");
    DataColumn dcArtist = new DataColumn("artist");
    DataColumn dcTitle = new DataColumn("title");
    DataColumn dcYear = new DataColumn("year");
    DataColumn dcGenre = new DataColumn("genre");
    DataColumn dcFile = new DataColumn("file");



    ds.Tables.Add(dtSongs);
    dtSongs.Columns.Add(dcId);
    dtSongs.Columns.Add(dcArtist);
    dtSongs.Columns.Add(dcTitle);
    dtSongs.Columns.Add(dcYear);
    dtSongs.Columns.Add(dcGenre);
    dtSongs.Columns.Add(dcFile);

    ds.ReadXml(Server.MapPath(@"~/App_Data\XMLFile1.xml"));

    Session["xmlDataSet"] = ds;
}

<table>
    @foreach (DataRow dr in ds.Tables[0].Rows)
    {
        <tr>
            <td>@dr["id"]</td>
            <td>@dr["artist"]</td>
            <td>@dr["title"]</td>
            <td>@dr["year"]</td>
            <td>@dr["genre"]</td>
            <td>@dr["file"]</td>
            <td><a href="Delete?id=@dr["id"]"> | Verwijderen</a></td>
            <td><a href="Wijzig?id=@dr["id"]"> | Wijzigen |</a></td>
        </tr>
        
    }
</table>
<h2>Index</h2>